global
    maxconn 1024

defaults
    timeout queue       1m
    timeout connect     5s
    timeout client      1m
    timeout server      1m


frontend http
    mode http
    bind *:$FRONTEND_PORT
    
    acl http   hdr(X-Forwarded-Proto) http
    acl https  hdr(X-Forwarded-Proto) https

    redirect scheme https code 301 if http
    use_backend www-backend if https

backend www-backend
    mode http
    server www-1 172.17.42.1:$BACKEND_PORT
